// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

.btn-submit {
  margin-top: 5px;
  float: right;
}

.content > text {
  word-break: keep-all;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.tweet-time {
  float: left;
}

.btn-content {
  float: right;
}

.btn-content a{
  color: white;
}

.btn-confirm {
  margin-top: 5px;
  float: right;
}

.form_commit, .form_back {
  display: inline;
}

.top-img {
  // position: relative;
  display: table;
  padding-top: 60px;
  height: 500px;
  width: 100%;
  background-image: url("KAZTP1050224_TP_V.jpg");
  text-align: center;
}

.top-text {
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // position: absolute;
  // margin: auto;
  display: table-cell;
  vertical-align: middle;
  font-size: 10rem;
  -webkit-text-stroke: 1px white;
}

.app-info {
  margin-top: 10px;
  text-align: center;
}

// bootstrap上書き
.navbar-default {
background-color: #428bca;
border-color: #428bca;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
color: #ffffff;
}

.panel-body {
  word-wrap: break-word;
}

.panel-footer {
  padding: 5px;
}
